{
  "extends": ["eslint:recommended", "plugin:vue/recommended"],
  "env": {
    "browser": true
  },
  "rules": {
    "vue/html-self-closing": "off",
    "comma-dangle": ["error", "never"],
    "semi": ["error", "never"],
    "max-len": ["error", { "code": 80 }]
  },
  "overrides": [
    {
      "files": "./*.js",
      "env": {
        "node": true
      }
    }
  ]
}
